<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.dao.ClazzMapper" >
  <resultMap id="BaseResultMap" type="com.student.bean.Clazz" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gradeid" property="gradeid" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, gradeid
  </sql>


    <select id="selectByName" resultMap="BaseResultMap" parameterType="Object" >
        select
        <include refid="Base_Column_List" />
        from clazz
        where  name = #{name,jdbcType=VARCHAR} And gradeid = #{gradeid,jdbcType=INTEGER}
    </select>

  <select id="getAllClazz" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from clazz
  </select>
 <select id="getClazzBy" resultMap="BaseResultMap" parameterType="com.student.bean.Clazz">
   select
   <include refid="Base_Column_List" />
   from clazz where 1=1
   <if test="gradeid != null and gradeid!=''" >
     and gradeid = #{gradeid,jdbcType=INTEGER}
   </if>
 </select>

  <select id="selectByGradeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from clazz
    where gradeid = #{gradeId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clazz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clazz
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.student.bean.Clazz" >
    insert into clazz (id, name, gradeid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gradeid,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.student.bean.Clazz" >
    update clazz
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gradeid != null" >
        gradeid = #{gradeid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.student.bean.Clazz" >
    update clazz
    set name = #{name,jdbcType=VARCHAR},
      gradeid = #{gradeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>